@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

.ThemedBody{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 6rem;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.centered_layout{
  position: static;
  inset: 0;
  overflow: auto;

  display: grid;
  place-items: center;
}
.navbar{
  position: fixed;
  z-index: 10000;
  left:0;
  top:0;
  right:0;
}
.footer{
  position: absolute;
  left:0;
  bottom:0;
  right:0;
}